.explore-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.listing-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Responsive behavior */
@media (max-width: 900px) {
    .listing-grid {
        flex-direction: column;
        align-items: center; 
        padding: 12px 40px;
        gap: 12px
    }
    .listing-card {
        width: 100%;
        max-width: 600px;      /* optional, so it doesn’t stretch too wide */
        margin: 0 0 12px 0;  
    }
}